$main_color: #9564AA;

body {
  font-family: 'Ubuntu';
  min-width: 320px;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: $main_color;
}

.header__container {
  height: 100%;
  padding: 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__burger-menu {
  height: 2px;
  width: 23px;
  background-color: #fff;
  position: relative;
}

.header__logo {
  display: none;
}

.header__burger-menu::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 23px;
  background-color: #fff;
  bottom: 6px;
}

.header__burger-menu::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 23px;
  background-color: #fff;
  top: 6px;
}

.navigation {
  display: none;
}

.aside {
  display: none;
}

.main__title {
  font-weight: 700;
  font-size: 20px;
}

.main__seperator {
  height: 2px;
  width: 100%;
  margin-top: 10px;
  background-color: $main_color;
  opacity: 0.2;
}

.offer {
  margin-top: 23px;

}

.swiper {
  display: block;
}

.swiper-pagination {
  display: block;
}

.card {
  background-color: $main_color;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  margin: 0 8px !important;
}

.swiper-pagination-bullet-active {
  background: #FFC500;
}

.card__price-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  padding: 15px 33px;
  max-width: 45%;
}

.card__price {
  margin-right: 5px;
}

.card__price_dollar {
  margin-right: 0;
}

.card__coin {
  color: #000;
  font-size: 8px;
  width: 17px;
  height: 17px;
  background-color: #FFC500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.card__slash {
  margin: 0 2px;
  font-weight: 400;
}

.card__offer {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  background-color: #FFC500;
  padding: 3px 10px;
  border-radius: 5px;
  position: absolute;
  left: -20px;
}

.offer__button {
  width: 100%;
  margin-top: 34px;
  padding: 17px;
  border: none;
  border-radius: 10px;
  background-color: #FFC500;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.agreement__checkbox {
  display: block;
  margin-top: 15px;
}

.agreement__input {
  opacity: 0;
  position: absolute;
}

.agreement__check {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid $main_color;
  border-radius: 5px;
  cursor: pointer;
}

.agreement__input:checked+.agreement__check {
  background-color: $main_color;
}

.agreement__input:checked+.agreement__check::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  top: 6px;
  right: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.57143L4.63636 7L11 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.agreement__text {
  margin-left: 30px;
  display: block;
  font-size: 10px;
  font-weight: 400;
  padding-top: 4px;
}

.agreement__link {
  text-decoration: none;
  color: $main_color;
}

.premium {
  display: grid;
  margin-top: 32px;
}

.diamond {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}

.item {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.item__icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(149, 100, 170, 0.2);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__text {
  font-size: 12px;
  font-weight: 700;
  color: $main_color;
}

@media (min-width: 375px) {
  .main__title {
    font-size: 25px;
  }
}

@media (min-width: 425px) {
  .agreement__text {
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .header {
    height: 100px;
  }
  .header__burger-menu {
    display: none;
  }

  .header__logo {
    display: block;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }

  .header__link-premium-mobile {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation__items {
    display: flex;
    
  }

  .navigation__items {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .navigation__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover {
      color: #FFC500;
    }
  }

  .navigation__item {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }

  .navigation__link_active {
    color: #FFC500;
    padding: 6px 13px;
    background-color: #684677;
    border-radius: 10px;
  }

  .container__content {
    display: flex;
    column-gap: 30px;
  }

  .aside {
    display: block;
    max-width: 270px;
    margin-top: 30px;
    padding: 18px;
    border-radius: 10px;
    border: 2px solid rgba(149, 100, 170, 0.2);
    background-color: rgba(149, 100, 170, 0.1);
    flex: 2 2 auto;
  }

  .aside__profile {
    display: flex;
    column-gap: 15px;
    align-items: center;
  }

  .profile__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .profile__name {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-bottom: 5px;
  }

  .profile__premium {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #684677;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 400;
    color: #fff;
  }

  .aside__seperator {
    width: 100%;
    height: 2px;
    background-color: rgba(149, 100, 170, 0.2);
    margin: 22px 0;
  }

  .aside__links {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .aside__item {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .aside__icon {

  }

  .aside__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }

  .main {
    padding-top: 20px;
    flex: 2 1 auto;
  }

  .swiper {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }

  .main__title {
    font-size: 40px;
  }
}